@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1440px;
  margin: auto;
  padding: 24px;


}
.blog-container {
  max-width: 940px;
  margin: auto;
  padding: 24px;


}


.form-control{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-form{
  
  width: 30vw;
  padding: 12px;
   border: 1px solid rgb(208, 205, 205);
   outline: none;
   border-radius: 7px;
}
.input-form:focus{
  outline: none;
  border: 1px solid rgb(88, 88, 214);
}

@media (max-width: 900px) {
  .input-form{
    width: 70vw;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 16px;
  }
  .input-form{
    width: 90vw;
  }
}
